<div class="wrapper">

  <div class="container">
    <div class="header" (click)="triggerGame()">
      Click on me
    </div>
    <div class='title'> niveau {{ currentLevel }} </div>
    <div class="notes">
      <img [ngClass]="{'shaked': shaked == 'firstnote'}" (click)="selectNote('firstnote')" src="../assets/images/note.svg" alt="" class="note" #firstnote>
      <img [ngClass]="{'shaked': shaked == 'secondnote'}" (click)="selectNote('secondnote')" src="../assets/images/note.svg" alt="" class="note" #secondnote>    
    </div>
    <div *ngIf='replay' (click)="playNotes(this.tableNotes[this.count].firstnote, this.tableNotes[this.count].secondnote)" class="replay">rejouer</div>
    {{ streak }}
  </div>
  <div (click)="openDialog()">CLOCK</div>
</div>